body {
    overflow-y: scroll;
    background: url(../img/cover8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-img {
    background: url(../img/cover7.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: whitesmoke;
}

@media (min-width: 992px) {
    .card {
        opacity: .75;
        transition: opacity .4s;
    }
}

@media (min-width: 992px) {
    .card:hover {
        opacity: 1;
        transition: opacity .4s;
    }
}

.navbar-brand {
    margin: 0 5%;
}

.bg-nav {
	background-color: #0A0A0A;
}

.cover-full {
	position: relative;
    height: 70%;
}

.cover-full .cover-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
}

.title-highlight {
    text-align: center;
    padding: 50px 0px 50px 0px;
    color: black;
    font-weight: 800;
    font-size: 3rem;
    line-height: 2.5rem;
    opacity: .6;
}

.title-highlight-sm {
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    opacity: .6;
}

.title-highlight small {
    font-size: 1.2rem;
}

.arrow-on-top {
    height: 25px;
    width: 75%;
    border-bottom: 6px solid white;
    border-radius: 10px;
    text-align: center;
    color: transparent;
}

.bi-arrow-bar-down {
    text-align: center;
    font-size: 4rem;
}

.content1 {
	padding: 20px 10%;
	background: #E3FFEA;
}

.content1 p {
	color: white;
}

.card-group {
	margin-top: 50px;
}

.card {
	border-radius: 14px;
}

.card img {
	padding: 24px;
	border-radius: 14px;
}

.card button {
	margin-bottom: 20px;
}

.transition1 {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-image: linear-gradient(transparent, #E3FFEA);
}

.transition2 {
	height: 30px;
	width: 100%;
	background-image: linear-gradient(#E3FFEA, transparent);
}

.transition3 {
    margin-top: 50px;
    height: 30px;
    width: 100%;
    background-image: linear-gradient(transparent, #E3FFEA);
}

.t-header {
	justify-content: center;
	text-align: center;
	font-weight: 500;
	font-size: 1.6rem;
	border-bottom: 3px solid #008080;
}

.t-body {
	background-color: #F2FFF5;
	padding: 10px 0;
	justify-content: center;
	text-align: center;
	font-size: 1.4rem;
	border-bottom: 1px dashed #008080;
}

.t-body div {
	position: relative;
	height: 45px;
}

.t-body div * {
	height: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.t-body button {
    width: 120px;
}

.footer {
    /* Fix padding/margin after finished */
    padding: 50px 5%;
    background: #E3FFEA;
}

.footer .row {
    justify-content: center;
}

/***** Trying to do some magic ( got it (: ) *****/

/* Removes the dot that usually floats on the left of <li> */
.custom-btn {
    list-style: none;
}

/* To modify the button scale properly the width, height and line-height must be the same
    font-size looks cool if you know the width and divide it by 2
    The margin between the buttons is set here too */
.custom-btn a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0 5px;
    transition: color .5s;
    transition: background .7s;
}

.custom-btn a:hover {
    background: #1b2727;
    transition: background .7s;
}

.custom-btn .fb-icon:hover {
    color: #3b5998;
    transition: color .5s;
}

/***** Insta-icon is kinda special bcuz of the gradient *****/
/* First i had to position it on the center */
.insta-icon img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: opacity .5s;
}

/* Then make the second image hidden */
.insta-icon .insta-colored {
    opacity: 0;
}

/* This hides the instagram all black logo */
.insta-icon:hover .insta-b {
    opacity: 0;
    transition: opacity .5s;
}

/* And displays the colored one on hover */
.insta-icon:hover .insta-colored {
    opacity: 1;
    transition: opacity .5s;
}

/***** End of instagram icon bullshit *****/

.custom-btn .whatsapp-icon:hover {
    color: #33CC46;
}

.custom-btn .reddit-icon:hover {
    color: #FF4301;
}

/* The transition here will handle the mouse-leave on all lines */
.custom-btn a .custom-btn-line {
    position: absolute;
    transition: transform .5s;
}

/* Sets the horizontal lines */
.custom-btn a .custom-btn-line:nth-child(1),
.custom-btn a .custom-btn-line:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #707070;
}

/* Sets the top line position
    the transform-origin here handles when it has to show up again
    that's the same for every other line
    it will always be the opposite from where it's going to hide/show on hover */
.custom-btn a .custom-btn-line:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

/* Scales down the span from the right to the left on hover
    the scaleX will make sure the arrow hides in the X-axis
    otherwise the line would become too thin to see while it hides */
.custom-btn a:hover .custom-btn-line:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

/* Sets the bottom line position */
.custom-btn a .custom-btn-line:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

/* Scales down the span from the left to the right on hover */
.custom-btn a:hover .custom-btn-line:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

/* Sets the vertical lines */
.custom-btn a .custom-btn-line:nth-child(2),
.custom-btn a .custom-btn-line:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #707070;
}

/* Sets the left line position and hides it for now */
.custom-btn a .custom-btn-line:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

/* Show/Scales up the line from the top to the bottom */
.custom-btn a:hover .custom-btn-line:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}

/* Sets the right line position and hides it for now */
.custom-btn a .custom-btn-line:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

/* Show/Scales up the line from the bottom to the top */
.custom-btn a:hover .custom-btn-line:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

/***** End of Custom Button CSS *****/

/***** Second custom btn for text content *****/

/* Removes the dot that usually floats on the left of <li> */
.custom-btn-long {
    list-style: none;
    margin: 5px 0;
}

.custom-btn-long a {
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    transition: color .5s;
    transition: background .7s;
}

.custom-btn-long a:hover {
    background: #1b2727;
    transition: background .7s;
}

/* The transition here will handle the mouse-leave on all lines */
.custom-btn-long a .custom-btn-line {
    position: absolute;
    transition: transform .5s;
}

/* Sets the horizontal lines */
.custom-btn-long a .custom-btn-line:nth-child(1),
.custom-btn-long a .custom-btn-line:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #707070;
}

/* Sets the top line position
    the transform-origin here handles when it has to show up again
    that's the same for every other line
    it will always be the opposite from where it's going to hide/show on hover */
.custom-btn-long a .custom-btn-line:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

/* Scales down the span from the right to the left on hover
    the scaleX will make sure the arrow hides in the X-axis
    otherwise the line would become too thin to see while it hides */
.custom-btn-long a:hover .custom-btn-line:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

/* Sets the bottom line position */
.custom-btn-long a .custom-btn-line:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

/* Scales down the span from the left to the right on hover */
.custom-btn-long a:hover .custom-btn-line:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

/* Sets the vertical lines */
.custom-btn-long a .custom-btn-line:nth-child(2),
.custom-btn-long a .custom-btn-line:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #707070;
}

/* Sets the left line position and hides it for now */
.custom-btn-long a .custom-btn-line:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

/* Show/Scales up the line from the top to the bottom */
.custom-btn-long a:hover .custom-btn-line:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}

/* Sets the right line position and hides it for now */
.custom-btn-long a .custom-btn-line:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

/* Show/Scales up the line from the bottom to the top */
.custom-btn-long a:hover .custom-btn-line:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

/***** End of Custom Button for text CSS *****/